version: "3.8"

services:
  grok-auth-server:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./src:/app/src

  mongodb:
    image: mongo:latest
    container_name: mongodb-crud
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: expatsSouthAfrica20
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: