services:
  grok-auth-server:
    build:
      context: ./chat-backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
      - chat-backend/.env
    depends_on:
      - mongodb
    volumes:
      - ./chat-backend:/main

  mongodb:
    image: mongo:latest
    container_name: mongodb-crud
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports:
      - "8001:8001"
    env_file:
      - backend/.env
    environment:
      - PYTHONUNBUFFERED=1

volumes:
  mongo-data:
